<head>
  <link rel="stylesheet" href="css/future.css" />
</head>

<h1 class="about ttHeading">TechTrend</h1>
<div class="future">
  <div class="card" data-aos="fade-up">
    <img src="/images/air.avif" alt="" />
    <p>
    <h3 class="h3">Artificial Intelligence (AI) and Machine Learning (ML):</h3>
       AI and ML continue
      to advance and find applications in various fields, such as healthcare,
      finance, customer service, and autonomous vehicles. Deep learning
      techniques and neural networks have been particularly influential in
      driving progress in this area.
    </p>
  </div>

  <div class="card">
    <img src="/images/5gr.avif" alt="" />
    <p>
      <h3 class="h3"> 5G Technology:</h3>
      The fifth-generation wireless technology, 5G, promises
      significantly faster speeds, lower latency, and increased network
      capacity. It has the potential to transform various industries, including
      telecommunications, transportation, and healthcare.
    </p>
  </div>

  <div class="card">
    <img src="/images/iotr.avif" alt="" />
    <p>
      <h3 class="h3">Internet of Things (IoT):</h3>
       The IoT has gained momentum, connecting devices
      and enabling them to collect and exchange data. This technology has found
      applications in smart homes, wearables, industrial automation, and
      agriculture, among others.
    </p>
  </div>

  <div class="card">
    <img src="/images/rnar.avif" alt="" />
    <h3 class="h3">Robotics and Automation:</h3>
    <p>
      Robotics and automation technologies are transforming industries by
      enhancing productivity, efficiency, and safety. Applications include
      autonomous vehicles, drones, industrial automation, and robotic process
      automation (RPA) in business processes.
    </p>
  </div>

  <div class="card">
    <img src="/images/arvrr.avif" alt="" />
    <p>
      <h3 class="h3">Augmented Reality (AR) and Virtual Reality (VR): </h3>
      AR and VR technologies
      have advanced, creating immersive and interactive experiences. AR finds
      applications in sectors like gaming, retail, and education, while VR is
      widely used in gaming, training simulations, and virtual tours.
    </p>
  </div>

  <div class="card">
    <img src="/images/cnbr.avif" alt="" />
    <p>
      <h3 class="h3">Blockchain and Cryptocurrencies: </h3>
      Blockchain technology has evolved beyond
      cryptocurrencies like Bitcoin and Ethereum. It has applications in supply
      chain management, decentralized finance (DeFi), digital identity
      verification, and secure record-keeping.
    </p>
  </div>
</div>
