<head>
  <link rel="stylesheet" href="/css/team.css" />
</head>
<div class="team">
  <h1 class="about">Team</h1>

  <div class="profiles">
    <img src="/images/rashmi.jpg" alt="" />
    <p class="p">Rashmi Dhole</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, alias.</p>
  </div>

  <div class="profiles">
    <img src="/images/sania.jpg" alt="" />
    <p class="p">Sania Nidagundi</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, alias.</p>
  </div>

  <div class="profiles">
    <img src="/images/rashmi.jpg" alt="" />
    <p class="p">Azhar Pathan</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, alias.</p>
  </div>

  <div class="profiles">
    <img src="/images/robot.jpeg" alt="" />
    <p class="p">Komal Kadnor</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, alias.</p>
  </div>

  <div class="profiles">
    <img src="/images/ai.avif" alt="" />
    <p class="p">Brian Dsouza</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, alias.</p>
  </div>
</div>
